openapi: 3.1.0
info:
  title: Temporal Cloud Operations API Keys Namespaces API
  description: The Temporal Cloud Operations API provides HTTP endpoints for programmatically managing Temporal Cloud control plane resources including Namespaces, Users, Service Accounts, API keys, and other infrastructure components.
  version: 2024-05-13-00
  contact:
    name: Temporal Technologies
    url: https://temporal.io/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://saas-api.tmprl.cloud
  description: Temporal Cloud API
security:
- BearerAuth: []
tags:
- name: Namespaces
paths:
  /api/v1/namespaces:
    get:
      operationId: listNamespaces
      summary: List Namespaces
      description: Returns a list of all Namespaces in the account.
      tags:
      - Namespaces
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  namespaces:
                    type: array
                    items:
                      $ref: '#/components/schemas/Namespace'
                  nextPageToken:
                    type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createNamespace
      summary: Create a Namespace
      description: Creates a new Namespace in the account.
      tags:
      - Namespaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNamespaceRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNamespaceResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/namespaces/{namespace}:
    get:
      operationId: getNamespace
      summary: Get a Namespace
      description: Returns details of a specific Namespace.
      tags:
      - Namespaces
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Namespace'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteNamespace
      summary: Delete a Namespace
      description: Deletes a specific Namespace.
      tags:
      - Namespaces
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/namespaces/{namespace}/update:
    post:
      operationId: updateNamespace
      summary: Update a Namespace
      description: Updates a specific Namespace configuration.
      tags:
      - Namespaces
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNamespaceRequest'
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Namespace:
      type: object
      properties:
        namespace:
          type: string
          example: example_value
        resourceVersion:
          type: string
          example: example_value
        spec:
          type: object
          properties:
            name:
              type: string
            region:
              type: string
            retentionDays:
              type: integer
            codecServer:
              type: object
            mtlsAuth:
              type: object
          example: example_value
        state:
          type: string
          example: example_value
        asyncOperationId:
          type: string
          example: '500123'
        endpoints:
          type: object
          example: example_value
        createdTime:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        lastModifiedTime:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    CreateNamespaceResponse:
      type: object
      properties:
        namespace:
          type: string
          example: example_value
        asyncOperationId:
          type: string
          example: '500123'
    UpdateNamespaceRequest:
      type: object
      required:
      - resourceVersion
      - spec
      properties:
        resourceVersion:
          type: string
          example: example_value
        spec:
          type: object
          example: example_value
    CreateNamespaceRequest:
      type: object
      required:
      - spec
      properties:
        spec:
          type: object
          properties:
            name:
              type: string
            region:
              type: string
            retentionDays:
              type: integer
          example: example_value
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
