openapi: 3.1.0
info:
  title: Temporal Cloud Operations API Keys Service Accounts API
  description: The Temporal Cloud Operations API provides HTTP endpoints for programmatically managing Temporal Cloud control plane resources including Namespaces, Users, Service Accounts, API keys, and other infrastructure components.
  version: 2024-05-13-00
  contact:
    name: Temporal Technologies
    url: https://temporal.io/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://saas-api.tmprl.cloud
  description: Temporal Cloud API
security:
- BearerAuth: []
tags:
- name: Service Accounts
paths:
  /api/v1/service-accounts:
    get:
      operationId: listServiceAccounts
      summary: List Service Accounts
      description: Returns a list of all Service Accounts in the account.
      tags:
      - Service Accounts
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceAccounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceAccount'
                  nextPageToken:
                    type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createServiceAccount
      summary: Create a Service Account
      description: Creates a new Service Account.
      tags:
      - Service Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServiceAccountRequest'
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/service-accounts/{serviceAccountId}:
    get:
      operationId: getServiceAccount
      summary: Get a Service Account
      description: Returns details of a specific Service Account.
      tags:
      - Service Accounts
      parameters:
      - name: serviceAccountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccount'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteServiceAccount
      summary: Delete a Service Account
      description: Deletes a specific Service Account.
      tags:
      - Service Accounts
      parameters:
      - name: serviceAccountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ServiceAccount:
      type: object
      properties:
        id:
          type: string
          example: abc123
        resourceVersion:
          type: string
          example: example_value
        spec:
          type: object
          properties:
            name:
              type: string
            access:
              type: object
          example: example_value
        state:
          type: string
          example: example_value
        createdTime:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    CreateServiceAccountRequest:
      type: object
      required:
      - spec
      properties:
        spec:
          type: object
          properties:
            name:
              type: string
            access:
              type: object
          example: example_value
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
